.box {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
}

.cherry {
    text-align: left;
    font-size: 30px;
    padding: 20px;
    box-shadow: white;

}

.tart {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    grid-column: 2;
    z-index: 9;
    box-shadow: grey;
    background-color: gray;
}
.cherries {
    color: red;
    text-align:right;
    grid-column: 2;
    font-size: 50px;
    z-index: 10;
}