.card {
    width: 250px;
    margin: 0;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
}

.upper {
    width: 100%;
}

.greybox {
    padding: 10%;
    text-align: center;
}

.bluebox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightblue;
}

.item4 {
    grid-column: 3/3;
    grid-row: 3/3;
}

body {
    background-color: black;
    border-color: black;
    
}