* {
    text-align: center;
    background-color: pink;
}

h1:hover {
    color: black;
}

h1 {
    color: white;
}

.about-me {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.about-me h2 {
    color:black;
}

.white {
    color: white;
}

.about-me p {
    color: #666;
}

.about-me img {
    max-width: 50px;
}

.about-me h2:hover {
    color: white;
}

.white {
    color: white;
}

ol {
    width: 400px;
    margin: 0 auto;
}

li {
    text-align: left;
    padding: 10px;

}

img {
    max-width: 500px;
}


blockquote {
    width: auto;
    padding: 30px;
    color: white;
    text-align: center;
    margin: 0 auto;
}